@font-face {
  font-family: 'magentoconnector-icon';
  src:  url('../fonts/icomoon.eot?sbto50');
  src:  url('../fonts/icomoon.eot?sbto50#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?sbto50') format('truetype'),
    url('../fonts/icomoon.woff?sbto50') format('woff'),
    url('../fonts/icomoon.svg?sbto50#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.admin__menu .item-frisbo.level-0 > a:before {
 font-family: 'magentoconnector-icon';
 content: '\e900';
}