<?php /* @var $block \Frisbo\MagentoConnector\Block\System\Config\ValidateCredentials */ ?>

<script>
    require([
        'jquery',
        'prototype'
    ], function(jQuery) {

        var collectSpan = jQuery('#collect_span');

        jQuery('#frisbo_api_validate_button').click(function() {
            /* get the username/password from the inputs on the page */
            var username = jQuery('#frisbo_api_settings_frisbo_api_group_frisbo_api_username').val();
            var password = jQuery('#frisbo_api_settings_frisbo_api_group_frisbo_api_password').val();

            var params = {
                'username': username,
                'password': password
            };
            new Ajax.Request('<?php echo $block->getAjaxUrl() ?>', {
                parameters: params,
                loaderArea: false,
                asynchronous: true,
                onCreate: function() {
                    collectSpan.find('.collected').hide();
                    collectSpan.find('.error').hide();
                    collectSpan.find('.processing').show();
                    jQuery('#collect_message_span').text('');
                },
                onSuccess: function(response) {
                    collectSpan.find('.error').hide();
                    collectSpan.find('.processing').hide();

                    var resultText = '';
                    if (response.status >= 200 && response.status <= 299) {
                        resultText = 'Success';
                        collectSpan.find('.collected').show();
                    } else {
                        resultText = 'Invalid Credentials';
                        collectSpan.find('.collected').show();
                    }
                    collectSpan.find('.processing').hide();
                    jQuery('#collect_message_span').text(resultText);
                },
                onFailure: function(response) {
                    collectSpan.find('.error').show();
                    collectSpan.find('.collected').hide();
                    collectSpan.find('.processing').hide();
                    if (response.status == 403) {
                        jQuery('#collect_message_span').text('Invalid credentials.');
                    } else {
                        jQuery('#collect_message_span').text('Could not contact server.');
                    }
                }
            });
        });

    });
</script>

<?php echo $block->getButtonHtml() ?>
<span class="collect-indicator" id="collect_span">
    <img class="processing" hidden="hidden" alt="Collecting" style="margin:0 5px" src="<?php echo $block->getViewFileUrl('images/process_spinner.gif') ?>" />
    <img class="collected" hidden="hidden" alt="Collected" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_apply.gif') ?>" />
    <img class="error" hidden="hidden" alt="Collected" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_remove.gif') ?>" />
    <span id="collect_message_span"></span>
</span>